@charset "utf-8";

@media screen and (max-width:640px){
  body {min-width: 360px}
  /* header */
  #header {margin-bottom: 40px;}
  .fixed-area {background:rgba(1,15,43,.5); height: 60px}
  .fixed-area.fixed {height: 60px}
  .headerTop {width:100%}
  .headerTop .header-tit,
  .headerTop .toggleBtn,
  .headerTop .follow {display:block;}
  .headerTop .logo a {margin-left: 20px; width:36px; height:36px; background-position:0 -92px;}
  .headerTop .header-tit {font-size: 16px; font-weight: bold; color: #fff; letter-spacing:0.1em}
  .headerTop .toggleBtn {width:36px; height:36px; background:rgba(1,15,43,0.4); border-radius:5px; position:relative; margin-right:20px;
                         transition: .3s; cursor:pointer}
  .headerTop .toggleBtn:hover {background:rgba(1,15,43,0.8)}
  .headerTop .toggleBtn div {width: 18px; height: 2px; background:#fff; position: absolute; left: 50%; transform: translateX(-50%); transition:.3s}
  .headerTop .toggleBtn .bar1 {top: 12px;}
  .headerTop .toggleBtn .bar2 {top: 17px;}
  .headerTop .toggleBtn .bar3 {top: 22px;}
  .headerTop .toggleBtn.change .bar1 {left: 50%; top: 50%; transform:translate(-50%, -50%) rotate(-45deg)}
  .headerTop .toggleBtn.change .bar2 {opacity:0}
  .headerTop .toggleBtn.change .bar3 {left: 50%; top: 50%; transform:translate(-50%, -50%) rotate(45deg)}
  .headerTop .menuWrap {position: absolute; top: 100%; right:-100%; width: 70%; height: 580px; background: #011e64; padding-top: 40px;
                        display:flex; flex-direction: column; align-items: center}
  .headerTop .menuWrap ul {float:none;}
  .menuWrap .main-menu {margin-right: 0; order:2; margin-bottom: 60px;}
  .menuWrap .main-menu li {float:none; margin-bottom: 20px;}
  .menuWrap .main-menu li:last-child {margin-bottom:0;}
  .menuWrap .main-menu li a {padding: 10px; font-size: 16px; text-align: center; text-shadow: none}
  .menuWrap .language {width: 80px; transform: none; order:1; margin-bottom: 40px;}
  .menuWrap .language li {width: 40px; font-size: 12px; line-height: 26px;}
  .menuWrap .language li:first-child {border-radius:15px 0 0 15px}
  .menuWrap .language li:last-child {border-radius:0 15px 15px 0}
  .menuWrap .follow {order:3}
  .menuWrap .follow li {float: left;}
  .menuWrap .follow li + li {margin-left: 20px;}
  .menuWrap .follow a {font-size: 36px; color: #fff; transition: .3s}
  .menuWrap .follow li:nth-child(1):hover a {color: #3B5998;}
  .menuWrap .follow li:nth-child(2):hover a {color: #1DA1F2;}
  .menuWrap .follow li:nth-child(3):hover a {color: #FF0000;}

  .sliderWrap .slider li {height: 275px}
  .sliderWrap .slider .slider-txt {width:320px; top: 35%;}
  .sliderWrap .slider-txt h1 {font-size: 30px; margin-bottom: 20px;}
  .sliderWrap .slider-txt p {font-size: 14px;}
  .sliderWrap .slider-txt br {display: block;}
  .sliderWrap .pager {display: none;}

  /* container */
  #container {transform: none}

  /* contents1 */
  #contents1 {width: 100%; padding:0 20px;}
  #contents1 > div {height: 100%; border-radius:5px; overflow: hidden;}
  #contents1 a > img {width: 100%}

  /* cont1 */
  .cont1 {width: 100%; margin-bottom: 20px;}
  .cont1 h4:first-child,
  .cont1 .cont1-img {display: none;}
  .cont1 .cont1-tit {width: 60vw; font-size: 5vw; text-align: center; top: 50%; left: 50%; transform: translate(-50%, -50%);}
  .cont1 h4:last-child {display: block; transform:translateY(-100%) rotateX(180deg); opacity:0; animation:shadow .3s .5s forwards}
  @keyframes shadow {
    to{transform: translateY(0) rotateX(180deg); opacity:0.7}
  }

  /* cont2 */
  .cont2 {width: 100%; margin-bottom: 20px}
  .cont2 .sliderWrap1,
  .cont2 .sliderWrap2 {display: none;}
  .cont2 .sliderWrap3 {display: block; width: 100%}
  .cont2 .slider3 li {display:flex;}
  .cont2 .slider3 a {width: 50%; position: relative; background: #eff8ff;}
  .cont2 .slider3 a:first-child {padding:0 6vw; color: #010f2b; display:flex; flex-direction: column; justify-content: center;}
  .cont2 .slider3 a:first-child:after {content:""; width: 0; height: 0; position: absolute; left: 100%; top: 50%; transform: translateY(-50%);
                                       border:3vw solid transparent; border-left-color:#eff8ff; z-index: 1}
  .cont2 .slider3 h4 {font-size: 4.2vw; text-align: center; margin-bottom: 2.5vw;}
  .cont2 .slider3 p {font-size: 3vw; text-align: justify; line-height: 5vw; letter-spacing: -0.05em}

  /* cont3 */
  .cont3 {display: none;}
  .sliderWrap4 {display: block}
  .sliderWrap4 .slider4 {}
  .carousel {width: 100%;}
  .carousel a {display: block; position: relative}
  .carousel h4 {font-size: 4.2vw; color: #011e64; position: absolute; top: 6vw; left: 50%; transform: translateX(-50%)}
  .carousel h4.cdd1d7 {color: #cdd1d7;}

  /* cont4 */
  .cont4 {display: none;}
}
