@charset "utf-8";

body {min-width: 1240px; background: #e6e9ea; font-family: 'Times New Roman', Arial;}

/* header */
.fixed-area {position: fixed; top: 0; width: 100%; z-index:9999; transition:.3s}
.fixed-area.fixed {background:rgba(0, 0, 0, 0.7) !important; box-shadow: 0 5px 10px #000 !important}
.headerTop {width:1240px; height:130px; margin:auto; display:flex; justify-content:space-between; align-items:center}
.headerTop .header-tit,
.headerTop .toggleBtn,
.headerTop .follow {display: none;}
.headerTop .logo a {text-indent: -9999px; display: block; width: 182px; height: 92px;
                    background:url(../images/logo-sprite.png) no-repeat 0 0;}
.headerTop .menuWrap {display: flex; align-items: center}
.menuWrap .main-menu {margin-right: 40px;}
.menuWrap .main-menu li {float: left; position: relative;}
.menuWrap .main-menu li a {display:block; padding: 20px 25px; color: #fff; font-weight: bold; font-size: 20px;
                           text-shadow:1px 1px 1px #000; transition:.3s}
.menuWrap .main-menu li .underline {position: absolute; left: 0; bottom: 0; width:100%; height: 5px; background: #0377d3;
                                    transform:scaleX(0); transform-origin:100% 50%; transition:transform .3s}
.menuWrap .main-menu li:hover .underline {transform:scaleX(1); transform-origin:0 50%;}
.menuWrap .language {width: 100px; height: 40px;}
.menuWrap .language li {float: left; width: 50px; line-height: 40px; text-align: center; border: 2px solid #0377d3;
                        color:#fff; font-size:18px; text-shadow:1px 1px 1px #000; transition:.3s; cursor:pointer}
.menuWrap .language li:hover {background: #0377d3;}
.menuWrap .language li.active {background: #0377d3;}

.sliderWrap .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}
.sliderWrap .slider li {height: 1000px; background-repeat:no-repeat; background-position:center; background-size:cover}
.sliderWrap .slider li.slider1st {background:linear-gradient(rgba(1,15,43,0.5), #010f2b), url(../images/slider-bg1.jpg)}
.sliderWrap .slider li.slider2nd {background:linear-gradient(rgba(1,15,43,0.5), #010f2b), url(../images/slider-bg2.jpg)}
.sliderWrap .slider li.slider3rd {background:linear-gradient(rgba(1,15,43,0.5), #010f2b), url(../images/slider-bg3.jpg)}
.sliderWrap .slider li.slider4th {background:linear-gradient(rgba(1,15,43,0.5), #010f2b), url(../images/slider-bg4.jpg)}
.sliderWrap .slider li.slider5th {background:linear-gradient(rgba(1,15,43,0.5), #010f2b), url(../images/slider-bg5.jpg)}
.sliderWrap .slider .slider-txt {position:absolute; top:35%; left:50%; transform:translateX(-50%); width:600px; color:#fff; text-align:center}
.sliderWrap .slider-txt h1 {font-size: 42px; font-weight:normal; margin-bottom: 40px;}
.sliderWrap .slider-txt p {font-size: 20px; line-height: 1.5em;}
.sliderWrap .btn {position:absolute; top:40%; width: 80px; height: 80px; border-radius:50%; background:rgba(0, 15, 43, 0.4);
                  display:flex; justify-content:center; align-items: center; transition: .3s; cursor:pointer}
.sliderWrap .btn:hover {background:rgba(0, 15, 43, 0.8)}
.sliderWrap .btn.left {left: 10%;}
.sliderWrap .btn.right {right: 10%}
.sliderWrap .btn div {text-indent:-9999px; width: 37px; height: 37px; background:url(../images/img-sprite.png) no-repeat}
.sliderWrap .btn .prev {background-position: 0 0;}
.sliderWrap .btn .next {background-position: -37px 0;}
.sliderWrap .pager {position: absolute; bottom: 30%; left: 50%; transform: translateX(-50%); display:flex}
.sliderWrap .pager a {display: block; width: 10px; height: 10px; border-radius:50%; background: #fff; transition:.3s}
.sliderWrap .pager a + a {margin-left: 20px;}
.sliderWrap .pager a.active {transform:scale(1.6); background: #0377d3;}

/*container*/
#container {position: relative;}

/*contents1*/
#contents1 {width: 1240px; position: absolute; top: -310px; left: 50%; transform:translateX(-50%); display:flex; flex-wrap:wrap; margin-bottom:80px;}
#contents1 > div {height: 310px; position: relative;}
#contents1 h4 {font-weight:normal}
.cont1 {width: 50%; overflow: hidden;}
.cont1 .cont1-tit {position:absolute; top:40px; left:40px; font-size:30px; color:#011e64; line-height:1.5em; letter-spacing:-2px}
.cont1 .cont1-img {position: absolute; width: 100%; height: 170px; bottom: 0;}
.cont1 .cont1-img img {position: absolute; top: 0; left: -1200px; opacity:0.6}
.cont1 .cont1-img .cont1-txt {position:absolute; top:0; width:100%; padding-top:30px; display:flex; flex-direction:column; align-items:center;
                              color:#fff; opacity:0}
.cont1 .cont1-img .cont1-txt.appear {opacity:1}
.cont1-img .cont1-txt .arrow {text-indent:-9999px; width:16px; height:16px; background:url(../images/img-sprite.png) no-repeat -74px 0; margin-bottom:10px}
.cont1-img .cont1-txt .txt1 {font-size: 14px; font-weight: bold; margin-bottom: 30px;}
.cont1-img .cont1-txt .txt2 {font-size: 16px; line-height: 1.4em; text-align: center;}
